@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root{
    font-family: "Playfair Display", serif;
}

body {
  overflow-x: hidden;
}

/* Hide arrows for number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
